/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"

&mt {
    tapping-term-ms = <300>;
    flavor = "balanced";
    require-prior-idle-ms = <150>;
    quick-tap-ms = <200>;
};

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  ESC |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   | [/U |  Y  |  ;  |  \   |
            // | LALT | '/A |  R  | -/S | ⇧/T |  G  |   |  M  | ⇧/N  |  E  |  I  | ;/O |  '   |
            // | LGUI |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | RCTL |
            //                    | GUI | SPC | TAB |   | ENT | BSPC | ALT |

            bindings = <
&kp ESCAPE    &kp DE_Q              &kp W     &kp DE_F        &kp DE_P             &kp DE_B     &kp DE_J     &kp DE_L              &mt DE_U_UMLAUT DE_U  &kp DE_Y    &mt DE_COLON DE_SEMI  &kp DE_BSLH
&kp LEFT_ALT  &mt DE_A_UMLAUT DE_A  &kp DE_R  &mt DE_SZ DE_S  &mt LEFT_SHIFT DE_T  &kp DE_G     &kp DE_M     &mt RIGHT_SHIFT DE_N  &kp DE_E              &kp DE_I    &mt DE_O_UMLAUT DE_O  &kp DE_SQT
&kp LEFT_GUI  &kp DE_Z              &kp DE_X  &kp DE_C        &kp DE_D             &kp DE_V     &kp DE_K     &kp DE_H              &kp DE_COMMA          &kp DE_DOT  &kp DE_FSLH           &kp RCTRL
                                              &mo 3           &kp SPACE            &lt 1 TAB    &lt 3 ENTER  &kp BACKSPACE         &mo 1
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // | TAB  |  1  |  @  |  #  |  [  |  ]  |   |  +  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 |  &  |  *  |  (  |  )  |   |  ~  |  4  |  5  |  6  |     |      |
            // | SHFT |     |     |  %  |  {  |  }  |   |  -  |  1  |  2  |  3  |     |      |
            //                    | GUI |     |     |   | ENT | RSH | ALT |

            bindings = <
&kp TAB         &kp DE_EXCLAMATION  &kp DE_AT         &kp DE_HASH          &kp DE_LBKT  &kp DE_RBKT    &kp DE_PLUS        &kp DE_N7  &kp DE_N8  &kp DE_N9  &kp DE_N0  &kp BSPC
&trans          &kp DE_QUESTION     &kp DE_AMPS       &kp DE_ASTRK         &kp DE_LPAR  &kp DE_RPAR    &kp DE_UNDERSCORE  &kp DE_N4  &kp DE_N5  &kp DE_N6  &trans     &trans
&kp DE_PERCENT  &kp DE_TILDE        &kp DE_LESS_THAN  &kp DE_GREATER_THAN  &kp DE_LBRC  &kp DE_RBRC    &kp DE_MINUS       &kp DE_N1  &kp DE_N2  &kp DE_N3  &trans     &trans
                                                      &kp LGUI             &trans       &trans         &kp RET            &kp DE_N0  &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // | TAB  |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp DE_EXCL  &kp DE_AT  &kp DE_HASH  &kp DE_DLLR  &kp DE_PRCNT    &kp DE_CARET  &kp DE_AMPS   &kp DE_ASTRK  &kp DE_LPAR  &kp DE_RPAR  &kp BSPC
&kp LCTRL  &trans       &trans     &trans       &trans       &trans          &kp DE_MINUS  &kp DE_EQUAL  &kp DE_LBKT   &kp DE_RBKT  &kp DE_BSLH  &kp DE_GRAVE
&kp LSHFT  &trans       &trans     &trans       &trans       &trans          &kp DE_UNDER  &kp DE_PLUS   &kp DE_LBRC   &kp DE_RBRC  &kp DE_PIPE  &kp DE_TILDE
                                   &kp LGUI     &trans       &kp SPACE       &kp RET       &trans        &kp RALT
            >;
        };

        controls {
            bindings = <
&trans  &trans  &kp C_VOL_DN  &kp C_VOLUME_UP  &kp K_MUTE  &trans    &trans  &kp HOME        &kp UP          &kp END     &trans  &trans
&trans  &trans  &trans        &trans           &trans      &trans    &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT   &trans  &trans
&trans  &trans  &trans        &trans           &trans      &trans    &trans  &kp PAGE_DOWN   &kp PAGE_UP     &kp DELETE  &trans  &trans
                              &trans           &trans      &trans    &trans  &trans          &trans
            >;
        };
    };
};
